@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*================ Font ==================
font-family: 'Montserrat', sans-serif; 
 font-family: 'Playfair Display', serif;
=========================================*/


/*====== Header ======*/
.section-header {
  height: 46.9vw;
  background: url(assets/maks.jpg) no-repeat 50% 50% / cover;
  color: #FFFFFF;
  padding: 30px 0px 150px 0px;
}

.column{
  display: flex;
  justify-content: center;
}
.wrapper-container{
  max-width: 1110px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.wrapper-content{
  width: 100%;
}
.connection{
  display: flex;
  justify-content: space-between;
  font-weight: 500; 
  font-size: 13px;
  font-style:normal;
  font-family: 'Montserrat';
  margin-bottom: 20px;
}
 

 li, a{
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px; 
}

.header-list {
  border: 1px solid #FFFFFF;
  border-right: 0px;
  border-left: 0px;
  display: flex;
}
.list{
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border-left: 1px solid #ffffff;

}
.list:first-child{
  border: none;
}

.button-1{
  margin: 0 15px ;
  background: #99862A;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-family:'Montserrat';
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-1:active {
  background: #7b6807;
}
/*======== Header ======*/

/*======= promo =======*/

.section-promo{
  background: #282828;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}

.section-container{
  text-align: center;
  max-width: 1110px;
  margin: 0 15px;
  border: 1px solid #ffffff;
  color: #ffffff; 
  padding: 60px 187px;
}

.heading-promo{
  padding-bottom: 40px;
  font-family: 'Playfair Display';
  font-size: 36px;
  line-height: 54px;
}

.border-promo{
  border-bottom: 1px solid #ffffff;
  max-width: 160px;
  margin: 0 auto 40px;
  flex-grow: 1;
}

.promo-text{
  padding-bottom: 50px ;
  font-family: 'Montserrat';
  line-height: 150%;
}

/*======= promo ========*/

/*======= history =======*/

.section-history{
padding: 80px 0px ;
background: #E6E3C4;
font-family: 'Montserrat';
font-size: 14px;
display: flex;
justify-content: center;
}

.history-container{
  max-width: 1110px;
  border: solid 1px #998431;
  border-left: none;
  border-right: none;
  padding: 60px 0px;
  margin: 0px 15px;
  flex-grow: 1;
}
.history-content{
  display: flex;
  justify-content: space-between;
}
.history-block-1{
max-width: 445px;
}
.new-collection{
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 150%;
}
.history-heading {
  padding-bottom: 30px;
  font-family: 'Playfair Display';
  font-size: 36px;
}

.history-border{
  width: 160px;
  border-bottom: solid 1px ;
  margin-bottom: 30px;
} 

.history-text{
  line-height: 150%;
  padding-bottom: 30px;
}
.collection-history-wine{
padding-bottom: 30px;
}
.collection-history{
  line-height: 150%;
  display: flex;  
}
.year{
  border-bottom: 1px solid #282828;
  padding: 31px 24px 26px 19px;
}
.year-1 {
  border-bottom: none;
}
.wine{
  border: 1px solid #282828;
  border-top: none;
  border-right: none;
  padding: 10px 37px 15px 30px;
}
.wine-1{
  border-bottom: none;
}
.name{
  font-family:'Playfair Display';
  font-size: 18px;
  line-height: 150%;
}

.img-block-2{
display: flex;
justify-content: space-between;
}
.images{
  margin-bottom: 30px;
}

.history-button-2{
  background: #998431;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 5%;
  text-transform: uppercase;
  border: none; 
  cursor: pointer;
}
.history-button-2:active{
  background: #c9a410;
}

/*======= history =======*/

/*====== recording =====*/

.section-recording {  
  display: flex;
  justify-content: center;
  background: #282828;
  padding: 129px 0px 100px 0px;
  color: #ffffff;
  font-family: 'Montserrat'; 
}

.recording-container{
  max-width: 1110px;
  margin: 0 30px;;
  border: solid 1px #ffffff;
  padding: 65px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  flex-grow: 1; 
}
.recording-content{
  max-width: 540px;
}

.recording-header{
  position: absolute;
  top: -39px;
  left: 325px;
  background-color: #282828;
}
.heading-record{
  padding: 10px 50px;
  font-family: 'Playfair Display';
  font-size: 36px;
}

.img-recording{
  position: absolute;
  left: -30px;
  top: -71px;
}
.img-recording-1{
  position: absolute;
  top: -71px;
  right: -54px;
}

.border-recording{
  max-width:118px;
  margin: 0 auto 40px;
  border-bottom: 1px solid #ffffff;
}
.text-recording{
  padding-bottom: 80px;
  text-align: center;
  line-height: 150%;
}

.form-recording{
  display: flex;
}
.input-record{
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 40px;
  background: #282828;
  padding: 10px 0px;
  flex-grow: 1;
  color:#FFFFFF;
}

input:not(:first-of-type){
  margin-left: 25px;
}

.input-recording{
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: #282828;
  margin-bottom: 55px;
  padding:10px 0px;
  color: #FFFFFF;
}
.input-record::placeholder{
  color:#d8d1d1;
}
input:hover, :focus{
  outline:none;
}
.Button{
  border: 1px solid #ffffff;
  background-color: #282828;
  cursor: pointer;
  padding: 15px 0px;
}
.link-record{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.block-record{
  display: flex;
  flex-direction: column;
}

/*====== recording =======*/


/*====== footer ======*/

.section-footer{
  background: #998431;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}

.footer-container{
  max-width: 1110px;
  margin: 0px 15px;
  flex-grow: 1;
}

.footer-list-1{
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.list-2{
  width: 100%;
  text-align: center;
}

.footer-list-2{
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding: 0px 0px;  
}
.list-3{
  width: 100%;
  border-right: 1px solid #ffffff;
  padding: 10px 0px;
  text-align: center;

}
.list-3:last-of-type{
  border-right: none;
}
.footer-list-2{
  font-weight: 600;
  text-transform: uppercase;
}
i{
  padding: 0px 20px;
}

/*====== footer =======*/