* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia";
}

a {
  text-decoration: none;
  color: #CDCDCD;
}

button {
  border: none;
  cursor: pointer;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1280px;
  padding: 80px 40px 100px;
  display: flex;
  justify-content: center;
}

.heading {
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
}

.btn-hover:hover {
  background: #FDDCC4;
  transition: 0.3s;
}

/*===== Header =====*/
.header {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__heading {
  margin-bottom: 7px;
}

.logo {
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo__subtitle {
  color: #fff;
  font-family: "Arial";
  font-size: 13px;
  letter-spacing: 0.1em;
  text-align: center;
}

.nav-box {
  max-width: 443px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  transition: 0.3s;
}

.nav__link:hover {
  color: #FAFAFA;
  transition: 0.3s;
}

.nav__link_active {
  color: #fafafa;
  border-bottom: 3px solid #F1CDB3;
  transition: 0.3s;
}

.nav__link_active:hover {
  color: #F1CDB3;
}

/*===== Header =====*/
/*===== not-only =====*/
.not-only {
  background-image: url(../assets/images/start-screen-gradient-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.not-only__container {
  max-width: 1200px;
  width: 100%;
  margin: 180px 40px 0;
  display: flex;
}

.not-only__img-dog {
  max-width: 698px;
}

.not-only__content {
  margin: 163px 42px 0 0;
  max-width: 460px;
}

.not-only__heading {
  margin-bottom: 42px;
  max-width: 310px;
  color: #fff;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
}

.not-only__subheading {
  margin-bottom: 58px;
  color: #CDCDCD;
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
}

.btn-link {
  background: #F1CDB3;
  padding: 15px 45px;
  border-radius: 100px;
  color: #292929;
  font-family: "Georgia";
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  transition: 0.3s;
}

.btn-hover:hover {
  background: #FDDCC4;
  transition: 0.3s;
}

/*===== not-only =====*/
/*===== About =====*/
.about .about__container {
  width: 100%;
}
.about .about__content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about .about__img-pets {
  height: 408px;
}
.about .about__desc {
  margin-left: 120px;
  margin-top: 14px;
}
.about .about__desc-heading {
  margin-bottom: 25px;
  max-width: 370px;
}
.about .about__desc-subheading {
  max-width: 430px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.about .about__desc-subheading:nth-child(2) {
  margin-bottom: 25px;
}

/*===== About =====*/
/*===== our-friends =====*/
.our-friends {
  background: #F6F6F6;
  color: #545454;
}
.our-friends .our-friends__container {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.our-friends .our-friends__heading {
  max-width: 400px;
  text-align: center;
}
.our-friends .slider__wrapper {
  margin: 60px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-friends .slider {
  margin: 0 53px;
  max-width: 990px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.our-friends .slider__line {
  display: flex;
  position: relative;
}
.our-friends .pets-item {
  display: flex;
}
.our-friends .slider__btn-arrow {
  min-width: 52px;
  height: 52px;
  background-color: #fff;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.3s;
}
.our-friends .slider__btn_active {
  display: none;
}
.our-friends .card-pet {
  background: #fafafa;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.our-friends .card-pet:hover .card__btn-info {
  background: #F1CDB3;
}
.our-friends .card-pet:hover {
  background: #FFFFFF;
}
.our-friends .card-pet:nth-child(2) {
  margin: 0 90px;
}
.our-friends .img-pet {
  border-radius: 9px;
}
.our-friends .name-pet {
  margin: 29px 0;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 0.06em;
}
.our-friends .card__btn-info {
  font-size: 17px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  padding: 15px 43px;
  background: #fafafa;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  transition: 0.3s;
}
.our-friends .btn-hover:hover {
  background: #FDDCC4;
}
.our-friends .link-our-pets {
  margin-bottom: 0;
  background: #F1CDB3;
  color: #292929;
}

/* ==== Slider-animation ==== */
@keyframes move-right {
  from {
    left: 0px;
  }
  to {
    left: -990px;
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}

@keyframes move-left {
  from {
    left: 0px;
  }
  to {
    left: 990px;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}

.hidden {
  display: none;
}

/*===== our-friends =====*/
/*===== Help =====*/
.help__container {
  width: 100%;
  padding-bottom: 85px;
}

.help__heading {
  margin-bottom: 60px;
  text-align: center;
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.item {
  flex: 0 0 20%;
}
.item:nth-child(1) {
  padding-bottom: 60px;
}

.text {
  margin-top: 30px;
}

/*===== Help =====*/
/*===== Donat =====*/
.donat {
  background: #fafafa;
}
.donat .donat__content {
  max-width: 915px;
  display: flex;
}
.donat .donat__desc {
  margin-left: 30px;
}
.donat .donat__desc-subheading {
  margin: 20px 0;
  color: #545454;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
}
.donat .donat__link {
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  color: #545454;
  font-size: 20px;
  letter-spacing: 0.06em;
  max-width: 349px;
  display: flex;
  transition: 0.3s;
}
.donat .btn-hover:hover {
  background: #FDDCC4;
  transition: 0.3s;
}
.donat .card-svg {
  margin-right: 14px;
}
.donat .donat__desc-info {
  margin-top: 20px;
  font-family: "Arial";
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #B2B2B2;
}

/*===== Donat =====*/
/*===== Footer =====*/
.footer {
  background-image: url(../assets/images/footer-gradient-background.jpg);
  background-size: cover;
  width: 100%;
}
.footer .footer__container {
  width: 100%;
  padding: 40px 40px 0;
  justify-content: space-between;
}
.footer .footer__container-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 733px;
  width: 100%;
}
.footer .footer__box {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.footer .footer__title {
  color: #FFFFFF;
}
.footer .foot-info {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: flex;
  align-items: center;
}
.footer .contact-email {
  margin: 39px 0;
}
.footer .address {
  margin: 34px 0 32px;
}
.footer .icon {
  margin-right: 20px;
}

/*===== Footer =====*//*# sourceMappingURL=style.css.map */